<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather API </title>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script>
        	$(document).ready(function() {
			    $('form').submit(function() {
			        // your code here (build up your url)
			        var city = $('#search-box').val();
			        var tempcity = city;
			        var url = "http://api.openweathermap.org/data/2.5/weather?q="+ tempcity + "&units=imperial&&appid=f77f3d469e1361abcb37f93cef699bd3"
			        $.get(url, function(res) {
			            // your code here
			            var weather = '';
			            	console.log(res);
			            	weather += "<h2>" + res.name + "</h2>";
			            	weather += "<p> Temperature: " + Math.floor(res.main.temp) +   " degrees</p>"

			            $('#weather-info').html(weather);

			        }, 'json');

			        // don't forget to return false so the page doesn't refresh
			        return false;
			    });
			    
			});
        </script>
    </head>
    <body>
    	<form action="search.php" method="get">
    		<input type="text" id="search-box" placeholder="Search">
    		<input type="submit" value="Search Weather">
    	</form>
    	<div id="weather-info"> </div> 
    </body>
</html>